
@{
    ViewBag.Title = "NewCourse";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}
<form class="form-group" method="post">
    <div>
        <label>
            Course
        </label>
        <input type="text" class="form-control" name="COURSE" />
    </div>
    <br />
    <button class="btn btn-success">Save</button>
</form>

