USE [master]
GO
/****** Object:  Database [DBMVCCV]    Script Date: 10/2/2020 6:57:31 PM ******/
CREATE DATABASE [DBMVCCV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBMVCCV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBMVCCV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBMVCCV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBMVCCV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBMVCCV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBMVCCV]
GO
/****** Object:  Table [dbo].[TBL_ABOUT]    Script Date: 10/2/2020 6:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ABOUT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](20) NULL,
	[SURNAME] [varchar](30) NULL,
	[ADDRESS] [varchar](250) NULL,
	[PHONE] [varchar](150) NULL,
	[MAIL] [varchar](60) NULL,
	[ABOUT] [varchar](max) NULL,
 CONSTRAINT [PK_TBL_ABOUT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ADMIN]    Script Date: 10/2/2020 6:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ADMIN](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_COURSES]    Script Date: 10/2/2020 6:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_COURSES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COURSE] [varchar](70) NULL,
 CONSTRAINT [PK_TBL_COURSES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_EDUCATION]    Script Date: 10/2/2020 6:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_EDUCATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [varchar](100) NULL,
	[SUBTITLE] [varchar](100) NULL,
	[DEPARTMENT] [varchar](50) NULL,
	[GPA] [varchar](10) NULL,
	[Date] [varchar](30) NULL,
 CONSTRAINT [PK_TBL_EDUCATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_EXPERIENCE]    Script Date: 10/2/2020 6:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_EXPERIENCE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [varchar](50) NULL,
	[SUBTITLE] [varchar](50) NULL,
	[DATE] [varchar](30) NULL,
	[DETAILS] [varchar](2000) NULL,
 CONSTRAINT [PK_TBL_EXPERIENCE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_INTERESTS]    Script Date: 10/2/2020 6:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_INTERESTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INTEREST] [varchar](500) NULL,
 CONSTRAINT [PK_TBL_INTERESTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_SKILLS]    Script Date: 10/2/2020 6:57:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_SKILLS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SKILLS] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_SKILLS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
