@model MVCCV.Models.Entity.TBL_SKILLS
@{
    ViewBag.Title = "GetSkill";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}
@using (Html.BeginForm("UPDATE", "Skills", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ID)
        @Html.TextBoxFor(m => m.ID, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.SKILLS)
        @Html.TextBoxFor(m => m.SKILLS, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">UPDATE</button>
    </div>

}



