@model MVCCV.Models.Entity.TBL_INTERESTS
@{
    ViewBag.Title = "GetInterest";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}
@using (Html.BeginForm("UPDATE", "Interests", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ID)
        @Html.TextBoxFor(m => m.ID, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.INTEREST)
        @Html.TextBoxFor(m => m.INTEREST, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">UPDATE</button>
    </div>

}

